.container {
    background-color: #3DBEFF;
    margin: 8vh 0 0 0;
}

.banner {
    background-color: #657a85;
    height: 60vmax;
}

.bannerImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.creatives {
    width: 50vmax;
    color: #FFF;
    font-size:  6vmax;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

.arrow {
    color: #FFF;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
}

.reverse-cont {
    display: grid;
    grid-auto-rows: 50vmax;
    grid-template-columns: repeat(auto-fill, minmax(768px, 1fr));
    transform: scaleY(-1);
}

.left-side1 {
    width: 100vw;
    background-color: #FFF;
    transform: scaleY(-1);
}

.transformTitle {
    font-size: 4.5vmax;
    width: 45vmax;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.transformText {
    font-size: 2.5vmax;
    width: 45vmax;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.transformLearn {
    color: rgb(13, 14, 13);
    font-size: 2vmax;
    font-weight: 700;
    width: 45vmax;
    position: relative;
    text-decoration: none;
}

.right-side1 {
    width: 100vw;
    transform: scaleY(-1);
}

.right1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.second-cont {
    display: grid;
    grid-auto-rows: 50vmax;
    grid-template-columns: repeat(auto-fill, minmax(768px, 1fr));
}

.left-side2 {
    width: 100vw;
}

.left2 {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.right-side2 {
    width: 100vw;
    background-color: #FFF;
}

.standTitle {
    font-size: 4.5vmax;
    width: 45vmax;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.standText {
    font-size: 2.5vmax;
    width: 45vmax;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.standLearn {
    color: rgb(13, 14, 13);
    font-size: 2vmax;
    font-weight: 700;
    width: 45vmax;
    position: relative;
    text-decoration: none;
}

.left-side3 {
    width: 100vw;
    background-color: rgb(18, 53, 167);
}

.left3 {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.graphicTitle {
    font-size: 4.5vmax;
    width: 45vmax;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.graphicText {
    font-size: 2.5vmax;
    width: 45vmax;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.right-side3 {
    width: 100vw;
    background-color: rgb(150, 47, 47);
}

.right3 {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.photoTitle {
    font-size: 4.5vmax;
    width: 45vmax;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.photoText {
    font-size: 2.5vmax;
    width: 45vmax;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}